
<div class="row">
    <app-header [visibility]="visibility" (IconClick)="IconClick()"  [IconVisibility]="false"></app-header>
</div>
<div class="container">
    <div class="lead mx-auto font-weight-bold`" style="width: 200px;">Accounts Functions</div>
    <div class="row my-4">
 
        <div class="col-sm-6">
            <a class="btn btn-primary btn-lg" >View Details</a>
        </div> 
        <div class="col-sm-6" >
            <a class="btn btn-primary btn-lg" >Check Balance</a>
        </div>
    </div>
    
</div>
