<div class="row">
  <app-header [visibility]="visibility" (IconClick)="IconClick()"  [IconVisibility]="false"></app-header>
</div>
<div *ngIf="enquiry">

    <h2>Enquiry Details</h2>
    <div class="container">
    <div class="row">
      <p class="col-4"><strong>Enquiry ID:</strong> {{enquiry.enquiryId}}</p>
      <p class="col-4"><strong>Initial Balance:</strong> {{enquiry.initialBalance}}</p>
      <p class="col-4"><strong>Email:</strong> {{enquiry.email}}</p>
    </div>
    </div>

    <div class="container">
      <div class="row">
        <p class="col-4"><strong>First Name:</strong> {{enquiry.firstName}}</p>
        <p class="col-4"><strong>Last Name:</strong> {{enquiry.lastName}}</p>
        <p class="col-4"><strong>Address:</strong> {{enquiry.addr}}</p>
      </div>
    </div>
<div class="container">
  <div class="row">
    <p class="col-4"><strong>PAN Number:</strong> {{enquiry.panNo}}</p>
    <p class="col-4"><strong>Aadhaar Number:</strong> {{enquiry.aadhaarNo}}</p>
    <p class="col-4"><strong>Phone Number:</strong> {{enquiry.phoneNo}}</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <p class="col-4"><strong>City:</strong> {{enquiry.city}}</p>
    <p class="col-4"><strong>State:</strong> {{enquiry.stat}}</p>
    <p class="col-4"><strong>Country:</strong> {{enquiry.country}}</p>
  </div>
</div>
<div class="container">
  <div class="row">
    <p class="col-4"><strong>Pin Code:</strong> {{enquiry.pinCode}}</p>
    <p class="col-4"><strong>Marital Status:</strong> {{enquiry.maritalStatus}}</p>
    <p class="col-4"><strong>Gender:</strong> {{enquiry.gender}}</p>
  </div>
</div>
   
<div class="container">
  <div class="row">
    <p class="col-4"><strong>Age:</strong> {{enquiry.age}}</p>
    <p class="col-4"><strong>Account Type:</strong> {{enquiry.accType}}</p>
    <p class="col-4"><strong>Guardian Name:</strong> {{enquiry.guardianName}}</p>
  </div>
</div>
    
<div class="container">
  <div class="row">
    <p class="col-4"><strong>Guardian Account:</strong> {{enquiry.guardianAccount}}</p>
    <p class="col-4"><strong>Guardian Phone Number:</strong> {{enquiry.guardianPhoneNo}}</p>
    <p class="col-4"><strong>Guardian Email:</strong> {{enquiry.guardianEmail}}</p>
  </div>
</div>
   
<div class="container">
  <div class="row">
    <p class="col-4"><strong>Guardian Aadhaar:</strong> {{enquiry.guardianAadhaar}}</p>
    <p class="col-4"><strong>Is Active:</strong> {{enquiry.isActive}}</p>
  </div>
</div>
   
  </div>
  

  <h2>Associated Documents</h2>

  <div class="container">
    <div class="row">
      <div class="col-md-4 " *ngFor="let document of documents">
  
            <p><strong>Document ID:</strong> {{document.docModel.docId}}</p>
            <p><strong>Enquiry ID:</strong> {{document.docModel.enqId}}</p>
            <p><strong>Customer ID:</strong> {{document.docModel.custId}}</p>
            <p><strong>Document Type:</strong> {{document.docModel.docType}}</p>
            <p><strong>Is Approved:</strong> {{document.docModel.isApproved}}</p>
            <!-- Add more fields as needed -->
            <img *ngIf="document.imageData" [src]="document.imageData" alt="Document Image" class="img-fluid" width="200" height="200">
  
      </div>
    </div>
  </div>

  
  
  