
<div class="card shadow m-auto m-2">

    <div class="card-header  text-center d-flex">
        <div class="fs-3 text-uppercase flex-grow-1">Enquiry List</div>
        
    </div>
    <div class="card-body overflow-y-visible">
        <table class="table table-dark table-striped table-hover">
            <thead>
                <tr><th>EnquiryId </th><th></th> <th></th></tr>
            </thead>
            <tbody>
                <tr *ngFor="let e of enquiryList">
                    <td>{{e.enquiryId}}</td>
                    <td>{{e.firstName}}</td>
                    <td>
                        <button class="btn btn-sm btn-primary" (click)="addviewclick(e)"
                            >View</button>
                        <!-- <button class="btn btn-sm btn-success"
                            >Accept</button>
                        <button class="btn btn-sm btn-danger" (click)="deleteclick(e)"
                            >Reject</button> -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
<!-- <div class="col-6">
    <enq-details [selectedEnquiry]="selectedEnquiry" ></enq-details>
</div> -->