.nav-footer{
    color: aliceblue;
    display: flex;
    row-gap: 1px;
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
    padding: 1%;
}
.fp{
    position: relative;
    left:40%;
}