<div class="row">
    <app-header [visibility]="visibility" (IconClick)="IconClick()" [CustId]="CustId" [IconVisibility]="IconVisibility" [UserName]="CustName"></app-header>
</div>
<div >
    
   <div class="row">
    <div class="col-6">
        <app-all-accounts [CustId]="CustId" [UserName]="CustName"></app-all-accounts>
    </div>
    <div class="col-6">
        <app-open-new-account  [CustId]="CustId"></app-open-new-account>
    </div>
   </div>
   
</div>
<!-- <div>
    <app-footer></app-footer>
</div> -->